
@model Product
<div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">

    @if (Model.ProductPictures.Any())
    {
        <img class="img-fluid w-100" src="@Model.ProductPictures.FirstOrDefault().Picture" alt="@Model.Name">
    }
    else
    {
        <img src="/img/hazirlaniyor.png" alt="@Model.Name" />
    }


</div>
<div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
    <h6 class="text-truncate mb-3">@Model.Name</h6>
    <div class="d-flex justify-content-center">
        <h6>@Model.Fiyat</h6><p></p><h6 class="text-muted ml-2"></h6>
    </div>
</div>
<div class="card-footer d-flex justify-content-between bg-light border">
    <a asp-controller="Product" asp-action="Detail" asp-route-name="@GeneralTools.GetUrl(Model.Name)" asp-route-id="@Model.ID" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Detayları Görüntüle</a>
    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Sepete Ekle</a>
</div>